<div class="mt-2 mb-3">
    <div class="card-wrapper">
        <mat-card class="example-card mt-2" *ngFor="let product of productEntity">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <h3>Product name is <strong>{{product.name}}</strong> </h3>
                <h3>Product price is <strong>{{product.price}}</strong> </h3>
                <h3>Product description is <strong>{{product.description}}</strong> </h3>
            </mat-card-content>
            <mat-card-actions>
                <a [routerLink]="['/book/book-now', product.productId]" mat-raised-button color="primary">By now</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>