
<!-- Navigation base -->
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span><strong>Osm Ecommerce</strong></span>
  <span class="example-spacer"></span>

  <a mat-button>Home</a>
  <a routerLink="home/cards" mat-button>All hotels</a>
  <a mat-button>Booking</a>
  <a mat-button>Booking</a>

  <a mat-raised-button color="accent">Sign in</a>

</mat-toolbar>

<!-- Hero section -->
<app-hero-section></app-hero-section>

<main>
  <router-outlet></router-outlet>
</main>


<!-- Footer -->
<footer>
  <mat-toolbar class="color-greay">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <h3>Osm Ecommerce</h3>
    </button>
    <span class="example-spacer"></span>
    <a mat-button>Powered by Osm Ecommerce ©2010-2023.</a>
  </mat-toolbar>
</footer>